.advantages {
  //background: rgb(19,21,23);
  min-height: 1000px; //100vh;
  overflow: hidden;
}

.advantages__background {
  position: relative;
  z-index: -1;

  img {
    position: absolute;
    right: -1px;
  }

  @media (max-width: 1850px) {
    & {
      right: -120px;
    }
  }

  @media (max-width: 1600px) {
    & {
      right: -240px;
    }
  }

  @media (max-width: 1250px) {
    & {
      right: -225px;
    }
  }

  @media (max-width: 991.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 767.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 700px) {
    & {
      right: -33vw;
    }
  }
}

.advantages__background2 {
  position: relative;

  img {
    //box-shadow: 25px 25px 50px 0 rgba(0,0,0,0) inset, -25px -25px 50px 0 rgba(0,0,0,0) inset;
    position: absolute;
    top: 150px;
    right: -50px;
  }
}

.advantages {
  &__title {
    font-weight: 900;
    font-size: 75px;
    line-height: 82px;
    /* or 109% */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    padding-top: 100px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    /* or 200% */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 30px;
  }

  &__button {
    margin-top: -100px;
    margin-left: auto;
    margin-right: 50px;
    position: relative;
    z-index: 10;
  }
}

.advantages-cards {
  position: relative;
  z-index: 10;
  margin-top: 50px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1380px;
    margin-right: 444px;
    margin-left: -15px;
  }

  &__column {
    flex: 0 1 33.333%;
    padding: 15px;
    box-sizing: border-box;

    &:nth-child(odd) .advantages-cards__item {
      background: #282B32;
    }

    &:nth-child(even) .advantages-cards__item {
      background: #202124;
    }

  }

  &__item {
    min-height: 300px;
    // width: 430px;
    padding: 50px;
    padding-right: 25px;
    box-sizing: border-box;
    height: 100%;
  }

  &__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    letter-spacing: 0.03em;

    color: #FFFFFF;


    margin-top: 30px;
  }

  &__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.03em;
    list-style-type: none;

    color: #C5C5C5;

    margin-top: 15px;

    li {
      img {
        display: inline-block;
        width: 18px;
        margin-top: 2px;
      }

      span.advantages-cards__text {
        display: inline-block;
        width: 90%;
      }
    }

    li span.advantages-cards__text_gold {
        color: #F69020;
    }

    /*
    li:before {
      display: inline;
      content: url("../img/advantages/li.png");
      margin-right: 10px;
    }
    */
  }
}

@media (max-width: 1500px) {
  .advantages-cards {
    &__container {
      margin-right: 0;
    }
  }

  .advantages__button {
    margin-top: 50px;
    margin-right: 0px;
  }
}

@media (max-width: 1200px) {
  .advantages-cards {
    &__column {
      flex: 0 1 50%;
    }
  }
}


@media (max-width: 700px) {
  .advantages {
    padding-bottom: 12vw;

    &__background2 {
      // display: none;

      img {
        top: 240vw;
        right: auto;
        bottom: auto;
        left: -15vw;

        width: 70vw;
      }
    }

    &__title {
      font-size: 10vw;
      line-height: 14vw;
      padding-top: 20vw;
    }

    &__text {
      font-size: 5vw;
      margin-top: 5vw;
    }

    &__cards {
      margin-top: 8vw;
    }
  }

  .advantages-cards {
    &__item {
      min-height: auto;
      height: auto;
      padding: 5vw;
      padding-right: 0;
    }

    &__img {
      img {
        width: 12vw;
      }
    }

    &__title {
      font-size: 4vw;
      margin-top: 4vw;
      line-height: 5vw;
    }

    &__list {
      font-size: 4vw;
      line-height: 5vw;
      margin-top: 4vw;

      li:not(:first-child) {
        margin-top: 5vw;
      }

      li {
        img {
          width: 3vw;
          margin-top: 0.5vw;
        }

        span.advantages-cards__text {
          width: 29vw;
        }
      }
    }

    &__column {
      padding: 2vw;

      &_1 {
        order: 1;
      }
      &_2 {
        order: 2;
      }
      &_3 {
        order: 3;
        margin-top: -40vw;

        .advantages-cards__item {
          background: #202124 !important;
        }
      }
      &_4 {
        order: 5;
        margin-top: -35vw;

        .advantages-cards__item {
          background: #282B32 !important;
        }
      }
      &_5 {
        order: 4;
      }
      &_6 {
        order: 6;
      }
    }
  }

  .advantages__button {
    width: 100%;
    height: 13vw;
    font-size: 3.3vw;
    margin-top: 15vw;
  }
}








