.advantages {
  //background: rgb(19,21,23);
  min-height: 1000px; //100vh;
}

.advantages__background {
  position: relative;

  img {
    position: absolute;
    right: -1px;
  }

  @media (max-width: 1850px) {
    & {
      right: -120px;
    }
  }

  @media (max-width: 1600px) {
    & {
      right: -240px;
    }
  }

  @media (max-width: 1250px) {
    & {
      right: -225px;
    }
  }

  @media (max-width: 991.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 767.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 700px) {
    & {
      right: -33vw;
    }
  }
}