.footer__background {
  position: relative;
  z-index: -1;

  img {
    position: absolute;
    right: 0px;
  }

  @media (max-width: 1850px) {
    & {
      right: -120px;
    }
  }

  @media (max-width: 1600px) {
    & {
      right: -240px;
    }
  }

  @media (max-width: 1250px) {
    & {
      right: -225px;
    }
  }

  @media (max-width: 991.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 767.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 700px) {
    & {
      right: -33vw;
    }
  }
}

.footer {
  &__line {
    height: 250px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__phone {
      flex: 0 0 235px;
  }

  &__button {
    //width: 230px;
    flex: 0 0 230px;
    height: 60px;

    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

    border: 1px solid #F69020;
    box-sizing: border-box;
    border-radius: 40px;

    background: inherit;
    cursor: pointer;

    transition: 0.5s;

    &:hover {
      background: #F69020;
    }

  }

  &__circle {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 60px;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 29px;
    }
  }

  &__street {
    // flex: 1 1 255px;
    min-width: 255px;
  }
}

@media (max-width: 1380px) {
  .footer {
    &__line {
      flex-wrap: wrap;
      padding-right: 0;
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 700px) {
  .footer {
    &__line {
      flex-direction: column;
      flex-wrap: nowrap;
      height: 60vw;
      padding: 5vw 0;
      gap: 3vw;
    }

    &__text {
      font-size: 3.5vw;
    }

    &__phone {
      flex: none;
    }

    &__button {
      flex: none;
      width: 45vw;
      height: 10vw;
      font-size: 2.5vw;
    }

    &__logo {
      img {
        width: 50vw;
      }
    }

    &__circle {
      height: 10vw;
      width: 10vw;
      flex: none;

      img {
        width: 5vw;
        height: auto;
      }
    }
  }
}