.halls {
  background: rgb(19,21,23);
  min-height: 100vh;
}

.halls__background {
  position: relative;

  img {
    position: absolute;
    right: 0;
  }

  @media (max-width: 1850px) {
    & {
      right: -120px;
    }
  }

  @media (max-width: 1600px) {
    & {
      right: -240px;
    }
  }

  @media (max-width: 1250px) {
    & {
      right: -225px;
    }
  }

  @media (max-width: 991.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 767.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 700px) {
    & {
      right: -33vw;
    }
  }
}

.halls {

  &__container {

    position: relative;
    z-index: 1;

    padding: 0;
    padding-left: 50px;
    padding-top: 110px;
    max-width: 1920px;
    //min-width: 0;
  }

  &__header, &__text, &__list, &__move, &__button {
    width: 460px;
    position: relative;
    z-index: 1;
  }

  &__header {
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 82px;
    /* or 109% */

    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 70px;

    color: #FFFFFF;
    white-space: nowrap;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    /* or 200% */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    width: 432px;
  }

  &__list {
    color: white;
  }

  &__slider {
    position: absolute;
    top: 0;
    //left: 510px;
    padding-left: 460px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  &__main-slider {
    height: 830px;
  }

  &__characteristics {
    color: white;
    margin-top: 35px;

    .halls-characteristics__item {
      display: flex;
      align-items: center;

      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.05em;

      color: #FFFFFF;

      width: 325px;
      height: 40px;

      margin-top: 11px;

      img {
        margin: 0 12px;
      }

      &_first {
        background: linear-gradient(91.17deg, rgba(246, 144, 32, 0.24) -0.24%, rgba(246, 144, 32, 0) 35%);
      }

      &_second {
        background: linear-gradient(91.17deg, rgba(246, 144, 32, 0.24) -0.24%, rgba(246, 144, 32, 0) 45%);
      }

      &_third {
        background: linear-gradient(91.17deg, rgba(246, 144, 32, 0.24) -0.24%, rgba(246, 144, 32, 0) 85%);
      }

    }
  }

  &__move {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 80px;

    .halls-move {
      &__last.swiper-button-disabled, &__next.swiper-button-disabled {
        border: 1px solid #282B32;
        box-sizing: border-box;
        background: none !important;
      }

      &__last, &__next {
        width: 70px;
        height: 70px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        user-select: none;

        background: #2E3441;

        &:hover {
          cursor: pointer;
        }
      }

      &__last {
      }

      &__number {
        span {
          font-style: normal;
          font-weight: 500;
          line-height: 48px;
          /* or 200% */

          letter-spacing: 0.03em;

          margin: 0 30px;
          color: #606571;

          b {
            font-size: 24px;
            color: white;
          }

          .halls-move__maxSlide {
            margin: 0;
          }
        }
      }

      &__next {
      }
    }
  }

  &__button {
    margin-top: 60px;
    width: 277px;
    height: 70px;
  }
}

.halls-list {
  width: 420px;

  &__container {

  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #606571;

    // margin-right: 40px;
    margin-top: 100px;

    &.active {
      color: #FFC619;
    }
  }
}

// Основной слайдер
.main-slider {
  overflow: hidden;

  &__container {
    height: inherit;

  }

  &__wrapper {
    //display: flex;
    white-space: nowrap;
    min-width: 0;
    height: inherit;
    font-size: 0;
  }

  &__slide {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Уменьшенный слайдер
.min-slider {
  width: 100%;
  height: 172px;
  overflow: hidden;

  &__container {
    height: inherit;
  }

  &__wrapper {
    height: inherit;
    min-width: 0;
    display: flex;
  }

  &__slide {
    //flex-grow: 1;
    flex: 0 0 20%;
    height: inherit;
    width: 100px;
    position: relative;
    opacity: 0.2;
    transition: opacity 0.3s ease 0s;

    &.swiper-slide-thumb-active {
      opacity: 1;
    }

    &:after {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      transition: 0.2s;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;

      &:after {
        background: rgba(255, 198, 25, 0.4);
        content: url("../img/halls/eye.png");
      }
    }
  }

  &__image {
    height: inherit;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      //object-position: center;
    }
  }
}