.halls {
  background: rgb(19,21,23);
  height: 100vh;
}

.halls__background {
  position: relative;

  img {
    position: absolute;
    right: 0;
  }

  @media (max-width: 1850px) {
    & {
      right: -120px;
    }
  }

  @media (max-width: 1600px) {
    & {
      right: -240px;
    }
  }

  @media (max-width: 1250px) {
    & {
      right: -225px;
    }
  }

  @media (max-width: 991.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 767.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 700px) {
    & {
      right: -33vw;
    }
  }
}

.halls {

  &__container {

    position: relative;
    z-index: 1;

    padding: 0;
    padding-left: 50px;
    padding-top: 110px;
    max-width: 1920px;
    //min-width: 0;
  }

  &__header {
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 82px;
    /* or 109% */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    white-space: nowrap;
    position: relative;
    z-index: 1;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    /* or 200% */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    width: 432px;
  }

  &__list {
    color: white;
  }

  &__slider {
    position: absolute;
    top: 0;
    //left: 510px;
    padding-left: 460px;
    box-sizing: border-box;
    width: 100%;

  }

  &__main-slider {
    height: 830px;
  }

  &__characteristics {
    color: white;
  }

  &__move {
    color: white;
  }

  &__buttons {
  }
}

.main-slider {
  overflow: hidden;

  &__container {
    height: inherit;

  }

  &__wrapper {
    //display: flex;
    white-space: nowrap;
    min-width: 0;
    height: inherit;
  }

  &__slide {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


}