.header {
  position: absolute;
  top: 40px;
  width: 100%;

  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__info {
  display: flex;
}

.header__phone, .header__city {
  display: flex;
  align-items: center;
  margin-left: 85px;
}

.header__block {
  justify-content: space-between;
  width: 100%;
}

.header__block:before {
  content: "";
  display: block;
}

.header__city_phone {
  display: none;
  position: absolute;
  top: 4.8vw;
  left: 63vw;
}

.header__circle {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.header__circle img {
  height: 29px;
}



.header__number, .header__cityName {
  //font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.03em;

  color: black;
  //color: #FFFFFF;

  margin-left: 17px;
}

.header__number {
  color: #FFFFFF;
}

.header__cityName {
  color: #F69020;
  width: 125px;

  &:hover {
    cursor: pointer;
  }
}

.header__city {
  position: relative;
}

.header__circle {
  z-index: 32;
}

.header-city-list {
  height: 0;
  position: absolute;
  left: -10px;
  top: -5px;
  width: 120%; //150%;
  overflow: hidden;
  border-radius: 5%;
  background: #282B32;

  transition: height 0.5s;
  z-index: 31;

  &.active {
    height: 165px;
  }

  &__item {
    color: white;

    padding: 15px 0;
    padding-left: 5px;
    margin-left: 82px;
    margin-right: 20px;


    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.07);
    }

    &:first-child {
      margin-top: 15px;
    }
  }
}

.close-city-list {
  display: none;
}

.close-city-list.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__button {
  width: 204px;
  height: 60px;

  box-sizing: border-box;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__button {
  //font-family: Muller;

  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000000;
}

.menu__button_1 {

  background: transparent;
  border: 1px solid #393C43;
  margin-right: 24px;
  color: white;
}

.menu__button_2 {

  background: #FFFFFF;
  border: 1px solid black;
}

.header__burger {
  display: none;

  position: fixed;
  width: 9vw  ;
  height: 4vw;

  top: 10vw;
  right: 7vw;

  z-index: 50;
}

.header__burger::before,
.header__burger::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: #F69020;
  border-radius: 6px;

  transition: all 0.5s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger_close {
  z-index: 10;
}

.header__burger_close::before {
  top: 15px;
  transform: rotate(45deg);
}

.header__burger_close::after {
  top: 15px;
  transform: rotate(-45deg);
}

.header__block {
  display: flex;
}

/* Adaptive */

/*
576px
768px
992px
1200px
1400px
 */

@media (min-width: 1551px) {
  .header__block {
    margin-left: 130px;
  }
}

@media (max-width: 1550px) {
  .header__phone {
    margin-left: 0px;
  }

  .header__city {
    margin-left: 30px;
  }

  .menu__button_1 {
    margin-right: 10px;
  }
}

@media (max-width: 1400px) { // Было 1300
  .header__container {
    justify-content: normal;
  }

  .header__info {
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .header__menu {
    flex: 0 0 350px;
  }

  .menu__list {
    justify-content: flex-end;
  }

  .header__logo img {
    width: 200px;
  }

  .header__circle {
    height: 40px;
    width: 40px;
  }

  .menu__button {
    height: 50px;
    width: 155px;
    font-size: 10px;
  }

  .header__number, .header__cityName {
    font-size: 12px;
  }

  .header-city-list {

    width: 115%;


    &__item {
      font-size: 12px;
      margin-left: 63px;
      letter-spacing: 0.03em;

      &:first-child {
        margin-top: 10px;
      }
    }

    &.active {
      height: 145px;
    }
  }

  .header__cityName {
    width: 110px;
  }
}

@media (max-width: 1060px) {
  .header-city-list {

    &__item {

      &:first-child {
        margin-top: 6px;
      }
    }
  }

  .header__menu {
    display: flex;
    flex: 0 0 170px !important;
    justify-content: flex-end;

    .menu__list {
      flex-direction: column;
    }
  }

  .header__info {
    align-items: start;
  }

  .menu__button {
    margin: 0;
  }

  .menu__button_1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 860px) {
  .header__info {
    justify-content: start !important;
    align-items: flex-end;
    flex-direction: column !important;

    .header__phone {
      margin-bottom: 10px;
    }

    .header__phone, .header__city {
      width: 185px;
    }
  }
}

@media (max-width: 700px) {
  .header__burger {
    display: block;
  }

  .header {
    top: 0;
    padding: 7vw 0;
    height: 11vw;
    overflow: hidden;

    transition: all 0.5s;

  }

  @keyframes logo_phone {
    from { top: -120vw; }
    to { top: 7vw; }
  }

  .header_phone {
    //height: 100%;
    position: fixed;
    z-index: 30;
  }

  .header_phone {
    //height: 95vw;
    //max-height: 95vw;
    //overflow: auto;
  }

  .header__logo.active {
    position: absolute;
    top: -120vw;
    animation: logo_phone 0.5s ease forwards;
  }

  .header__block {
    display: block;
    position: fixed;
    top: -120vw;
    left: 0;
    padding: 27vw 3vw 7vw 3vw;

    background: #282B32;
    box-shadow: 0px 12px 27px #000000;
    width: 100%;

    transition: all 0.5s;
    box-sizing: content-box;
  }

  .header__block.active {
    top: 0;
  }

  .header__info {
    align-items: start;
    flex-direction: column-reverse !important;
    margin-bottom: 5vw;

    .header__city {
      margin-left: 0;
    }

    .header__phone, .header__city {
      width: auto;
    }
  }

  .header__cityName {
    width: auto;
  }

  .header__container {
    flex-direction: column;


    .header__logo {
      margin-bottom: 8vw;
      display: block;
      width: 45vw;
      z-index: 30;

      img {
        width: 45vw;
      }
    }



    .header__menu {
      flex: auto !important;
      justify-content: start;

      .menu__list {

      }

    }
  }

  .header__circle {
    height: 15vw;
    width: 15vw;

    img {
      height: 7vw;
    }
  }

  .header__city {
    margin-bottom: 3vw;
  }

  .header__city_phone {
    display: block;
    // transition: all 0.5s;
  }

  .header__city_phoneDisable{
    display: none;
  }

  .header__number, .header__cityName {
    font-size: 4vw;
  }

  .menu__button {
    border-radius: 20vw;
    height: 15vw;
    width: 55vw;
    font-size: 4vw;
  }

  .menu__button_1 {
    margin-bottom: 5vw;
  }
}







