.main-advantages__container {
  display: flex;
  max-width: 1924px;
  margin: 0 auto;
}

.main-advantages__item {
  display: flex;
  flex: 0 1 25%;
  height: 130px;
  justify-content: center;
  align-items: center;
}

.main-advantages__item:nth-child(odd) {
  background: #282B32;
}

.main-advantages__item:nth-child(even) {
  background: #202124;
}

.main-advantage-item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.03em;

  color: #FFFFFF;
}

.main-advantage-item__hyphen {
  width: 34px;
  height: 2px;

  margin-left: 18px;
  margin-right: 37px;

  background-color: rgba(255, 198, 25, 0.3);
}

@media (max-width: 1500px) {
  .main-advantages__container {
    flex-wrap: wrap;
  }

  .main-advantages__item {
    flex: 0 1 50%;
  }

  .main-advantage-item:nth-child(3) {
    order: 4
  }

  .main-advantage-item:nth-child(4) {
    order: 3
  }
}

@media (max-width: 700px) {
  .main-advantage-item {
    flex-wrap: wrap;
    justify-content: left;
    padding: 3vw 4vw;
    box-sizing: border-box;
    height: 29vw;
  }

  .main-advantage-item__img {
    width: 10vw;
  }

  .main-advantage-item__hyphen {

  }

  .main-advantage-item__text {
    flex: 1 100%;
    font-size: 4vw;
    line-height: 6vw;
  }
}
