@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Muller, Arial;
  background: #191b20;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1824px;
  margin: 0px auto;
  padding: 0 50px;
  box-sizing: content-box;
  /* Сам прибавляет padding */
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

body.lock {
  overflow: hidden;
}

/* ---------------------------------- */
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.eot") format("embedded-opentype"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype"), url("../fonts/MullerRegular.svg#MullerRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.eot") format("embedded-opentype"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype"), url("../fonts/MullerBold.svg#MullerBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller Black"), local("Muller-Black"), url("../fonts/MullerBlack.woff2") format("woff2"), url("../fonts/MullerBlack.woff") format("woff"), url("../fonts/MullerBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*
@font-face {
    font-family: 'Muller';
    src: local('Muller Heavy'), local('Muller-Heavy'),
    url('/template/fonts/MullerHeavy.woff2') format('woff2'),
    url('/template/fonts/MullerHeavy.woff') format('woff'),
    url('/template/fonts/MullerHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
*/
.buttonGold {
  width: 280px;
  height: 70px;
  background: linear-gradient(93.25deg, #FFC619, #F69020, #EA422A, #F69020, #FFC619);
  border-radius: 60px;
  background-size: 200%;
  background-position: 100%;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #252121;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.buttonGold:hover {
  background-size: 300%;
  cursor: pointer;
  background-position: 20%;
  border: 1px solid #FFC619;
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__info {
  display: flex;
}

.header__phone, .header__city {
  display: flex;
  align-items: center;
  margin-left: 85px;
}

.header__block {
  justify-content: space-between;
  width: 100%;
}

.header__block:before {
  content: "";
  display: block;
}

.header__city_phone {
  display: none;
  position: absolute;
  top: 4.8vw;
  left: 63vw;
}

.header__circle {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__circle:hover {
  cursor: pointer;
}

.header__circle img {
  height: 29px;
}

.header__number, .header__cityName {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: black;
  margin-left: 17px;
}

.header__number {
  color: #FFFFFF;
}

.header__cityName {
  color: #F69020;
  width: 125px;
}
.header__cityName:hover {
  cursor: pointer;
}

.header__city {
  position: relative;
}

@media (min-width: 700px) {
  .header__city .header__circle img {
    transform: rotateY(0deg);
    transition: 0.8s;
  }
  .header__city:hover .header__circle img {
    transform: rotateY(180deg);
  }
}
.header__circle {
  z-index: 32;
}

.header-city-list {
  height: 0;
  position: absolute;
  left: -10px;
  top: -5px;
  width: 120%;
  overflow: hidden;
  border-radius: 5%;
  background: #282B32;
  transition: height 0.5s;
  z-index: 31;
}
.header-city-list.active {
  height: 165px;
}
.header-city-list__item {
  color: white;
  padding: 15px 0;
  padding-left: 5px;
  margin-left: 82px;
  margin-right: 20px;
}
.header-city-list__item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.07);
}
.header-city-list__item:first-child {
  margin-top: 15px;
}
.header-city-list.active_phone {
  position: fixed;
  left: 0;
  top: 30%;
  transform: translateY(-30%);
  width: 94%;
  height: 45vw;
  margin-left: 3%;
}
.header-city-list.active_phone .header-city-list__item {
  margin: 0;
  font-size: 7vw;
  text-align: center;
  padding: 4vw 0;
  border-bottom: 1px solid #343A3E;
}
.header-city-list.active_phone .header-city-list__item:last-child {
  border-bottom: 0;
}

.close-city-list {
  visibility: hidden;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}

.close-city-list.active {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
  background: rgba(0, 0, 0, 0.5);
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__button {
  width: 204px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__button {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.menu__button_1 {
  background: transparent;
  border: 1px solid #393C43;
  margin-right: 24px;
  color: white;
  transition: all 0.3s ease-in-out;
  /*
  &:hover {
    background: #FFFFFF;
    border: 1px solid black;
    color: black;
  }
  */
}

.menu__button_2 {
  background: #FFFFFF;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  /*
    &:before {
      position: absolute;
      left: -100px;
      top: 0;

      content: "";
      display: block;
      background-color: rgb(246, 144, 32, 0.5);
      height: 100%;
      width: 80px;
      transform: skewX(-45deg) translateX(0px);
      transition:  all 0.4s ease-in-out;
    }
  */
}
.menu__button_2:hover {
  background: transparent;
  border: 1px solid #393C43;
  color: white;
  /*
      &:before {
        transform: skewX(-45deg) translateX(330px);
      }
  */
}

.header__burger {
  display: none;
  position: fixed;
  width: 9vw;
  height: 4vw;
  top: 10vw;
  right: 7vw;
  z-index: 50;
}

.header__burger::before,
.header__burger::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: #F69020;
  border-radius: 6px;
  transition: all 0.5s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger_close {
  z-index: 10;
}

.header__burger_close::before {
  top: 15px;
  transform: rotate(45deg);
}

.header__burger_close::after {
  top: 15px;
  transform: rotate(-45deg);
}

.header__block {
  display: flex;
}

/* Adaptive */
/*
576px
768px
992px
1200px
1400px
 */
@media (min-width: 1551px) {
  .header__block {
    margin-left: 130px;
  }
}
@media (max-width: 1550px) {
  .header__phone {
    margin-left: 0px;
  }

  .header__city {
    margin-left: 30px;
  }

  .menu__button_1 {
    margin-right: 10px;
  }
}
@media (max-width: 1400px) {
  .header__container {
    justify-content: normal;
  }

  .header__info {
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .header__menu {
    flex: 0 0 350px;
  }

  .menu__list {
    justify-content: flex-end;
  }

  .header__logo img {
    width: 200px;
  }

  .header__circle {
    height: 40px;
    width: 40px;
  }

  .menu__button {
    height: 50px;
    width: 155px;
    font-size: 10px;
  }

  .header__number, .header__cityName {
    font-size: 12px;
  }

  .header-city-list {
    width: 115%;
  }
  .header-city-list__item {
    font-size: 12px;
    margin-left: 63px;
    letter-spacing: 0.03em;
  }
  .header-city-list__item:first-child {
    margin-top: 10px;
  }
  .header-city-list.active {
    height: 145px;
  }

  .header__cityName {
    width: 110px;
  }
}
@media (max-width: 1060px) {
  .header-city-list__item:first-child {
    margin-top: 6px;
  }

  .header__menu {
    display: flex;
    flex: 0 0 170px !important;
    justify-content: flex-end;
  }
  .header__menu .menu__list {
    flex-direction: column;
  }

  .header__info {
    align-items: start;
  }

  .menu__button {
    margin: 0;
  }

  .menu__button_1 {
    margin-bottom: 10px;
  }
}
@media (max-width: 860px) {
  .header__info {
    justify-content: start !important;
    align-items: flex-end;
    flex-direction: column !important;
  }
  .header__info .header__phone {
    margin-bottom: 10px;
  }
  .header__info .header__phone, .header__info .header__city {
    width: 185px;
  }
}
@media (max-width: 700px) {
  .header__burger {
    display: block;
  }

  .header {
    top: 0;
    padding: 7vw 0;
    height: 11vw;
    overflow: hidden;
    transition: all 0.5s;
  }

  @keyframes logo_phone {
    from {
      top: -120vw;
    }
    to {
      top: 7vw;
    }
  }
  .header_phone {
    position: fixed;
    z-index: 30;
  }

  .header__logo.active {
    position: absolute;
    top: -120vw;
    animation: logo_phone 0.5s ease forwards;
  }

  .header__block {
    display: block;
    position: fixed;
    top: -120vw;
    left: 0;
    padding: 27vw 3vw 7vw 3vw;
    background: #282B32;
    box-shadow: 0px 12px 27px #000000;
    width: 100%;
    transition: all 0.5s;
    box-sizing: content-box;
  }

  .header__block.active {
    top: 0;
  }

  .header__info {
    align-items: start;
    flex-direction: column-reverse !important;
    margin-bottom: 5vw;
  }
  .header__info .header__city {
    margin-left: 0;
  }
  .header__info .header__phone, .header__info .header__city {
    width: auto;
  }

  .header__cityName {
    width: auto;
  }

  .header__container {
    flex-direction: column;
  }
  .header__container .header__logo {
    margin-bottom: 8vw;
    display: block;
    width: 45vw;
    z-index: 30;
  }
  .header__container .header__logo img {
    width: 45vw;
  }
  .header__container .header__menu {
    flex: auto !important;
    justify-content: start;
  }
  .header__circle {
    height: 15vw;
    width: 15vw;
  }
  .header__circle img {
    height: 7vw;
  }

  .header__city {
    margin-bottom: 3vw;
  }

  .header__city_phone {
    display: block;
  }

  .header__city_phoneDisable {
    display: none;
  }

  .header__number, .header__cityName {
    font-size: 4vw;
  }

  .menu__button {
    border-radius: 20vw;
    height: 15vw;
    width: 55vw;
    font-size: 4vw;
  }

  .menu__button_1 {
    margin-bottom: 5vw;
  }
}
.main {
  height: 840px;
  overflow: hidden;
}

.main__background {
  position: relative;
}
.main__background .main__background1 {
  position: absolute;
  right: 0;
}
.main__background .main__background2 {
  position: absolute;
  right: 270px;
}
.main__background .main__backgroundShadow {
  position: absolute;
  right: 0;
  height: 800px;
  width: 1200px;
  box-shadow: 0px 30px 90px 160px #191b20 inset;
}

/* Adaptive */
/*
576px
768px
992px
1200px
1400px
1850px - мой
 */
@media (max-width: 1850px) {
  .main__background {
    right: -120px;
  }

  .main__label {
    right: 550px !important;
  }
}
@media (max-width: 1600px) {
  .main__background {
    right: -240px;
  }

  .main__label {
    right: 430px !important;
  }
}
@media (max-width: 1250px) {
  .main__background {
    right: -225px;
  }

  .main__background2 {
    top: 110px;
    right: 215px !important;
    width: 500px;
  }

  .main__feedback {
    right: 10px !important;
  }

  .main__label {
    right: 260px !important;
  }
  .main__label img {
    width: 320px;
  }
}
@media (max-width: 991.98px) {
  .main__background {
    right: -265px;
  }
}
@media (max-width: 767.98px) {
  .main__background {
    right: -265px;
  }
}
/* Adaptive */
.main__container {
  position: relative;
  z-index: 20;
  padding-top: 190px;
  height: 650px;
}

.main__left {
  width: 910px;
}

.main__header {
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 82px;
  /* or 200% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main__text {
  margin-top: 15px;
}

.main__text span:first-child {
  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 94px;
  /* or 125% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main__textCity {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  margin-left: 25px;
  box-sizing: content-box;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 22px;
  background: #343A3E;
  border-radius: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.main__advantage {
  display: flex;
  margin-top: 50px;
}

.main__item {
  display: flex;
  margin-right: 50px;
}

.mainItem__img {
  margin-right: 10px;
}

.mainItem__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.main__button {
  margin-top: 75px;
}

.main-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 70px;
  bottom: 0;
  height: 300px;
}
.main-feedback__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 85px;
  width: 80px;
  height: 80px;
  background: linear-gradient(217.04deg, #FFC619 21.5%, #F69020 48.98%, #EC5128 80.77%);
  border-radius: 50%;
}
.main-feedback__text {
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 9px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #F69020;
  transform: rotate(-90deg);
}

.main__label {
  position: absolute;
  right: 670px;
  top: 480px;
}

/* Adaptive */
/*
576px
768px
992px
1200px
1400px
1850px - мой
 */
@media (max-width: 1700px) {
  .main__header {
    font-size: 30.75px;
  }

  .main__text span:first-child {
    font-size: 56.25px;
    line-height: 70.5px;
  }

  .main__item {
    margin-right: 37.5px;
  }

  .mainItem__text {
    font-size: 13.5px;
  }

  .main__textCity {
    margin-top: 18.75px;
    margin-left: 18.75px;
  }
}
@media (max-width: 1400px) {
  .main__header {
    font-size: 20.5px;
  }

  .main__text span:first-child {
    font-size: 37.5px;
    line-height: 47px;
  }

  .main__item {
    margin-right: 25px;
  }

  .mainItem__text {
    display: flex;
    align-items: center;
    font-size: 9px;
    line-height: 12px;
  }

  .main__textCity {
    margin-top: 12.5px;
    margin-left: 12.5px;
  }

  .main__advantage {
    margin-top: 25px;
  }

  .main__button {
    margin-top: 37.5px;
  }
}
@media (max-width: 900px) {
  .main__advantage {
    display: flex;
    flex-direction: column;
  }

  .mainItem__text {
    font-size: 15px;
    line-height: 24px;
  }

  .main__item {
    margin-bottom: 25px;
  }

  .main__item:last-child {
    margin-bottom: 0;
  }

  .main__button {
    margin-top: 92px;
  }

  .main__label {
    top: 470px;
    right: 200px !important;
  }
  .main__label img {
    width: 280px;
  }

  .main__background2 {
    right: 180px !important;
    top: 160px;
  }
}
/* Phone */
@media (max-width: 700px) {
  .main {
    height: 218vw;
  }

  .main__background {
    top: 40vw !important;
    right: -62vw !important;
  }

  .main__container {
    margin-top: 30vw;
  }

  .main__header {
    font-size: 5.3vw;
    width: 75vw;
    line-height: 7vw;
  }

  .main__text {
    display: block;
    margin-top: 5vw;
    width: 90vw;
  }
  .main__text span:first-child {
    font-size: 10vw;
    line-height: 13vw;
  }
  .main__text .main__textCity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 0;
    width: 40vw;
    height: 7vw;
    font-size: 4vw;
  }

  .main__backgroundShadow {
    display: none;
  }

  .main__background1 {
    right: -33vw !important;
    width: 441vw;
    top: -65vw;
  }

  .main__background2 {
    right: 39vw !important;
    width: 100vw;
    top: 14vw;
  }

  .main__feedback {
    display: none;
  }

  .mainItem__text {
    font-size: 4vw;
    line-height: 6vw;
  }

  .main__item:last-child .mainItem__text {
    width: 20vw;
  }

  .mainItem__img img {
    width: 11vw;
  }

  .main__label {
    top: 112vw;
    left: 21vw;
  }
  .main__label img {
    width: 60vw;
  }

  .main__button {
    width: 65vw;
    height: 14vw;
    font-size: 3.5vw;
    margin-top: 43vw;
  }

  .main__item {
    margin-bottom: 5vw;
  }
}
.main-advantages__container {
  display: flex;
}

.main-advantages__item {
  display: flex;
  flex: 0 1 25%;
  height: 130px;
  justify-content: center;
  align-items: center;
}

.main-advantages__item:nth-child(odd) {
  background: #282B32;
}

.main-advantages__item:nth-child(even) {
  background: #202124;
}

.main-advantage-item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.main-advantage-item__hyphen {
  width: 34px;
  height: 2px;
  margin-left: 18px;
  margin-right: 37px;
  background-color: rgba(255, 198, 25, 0.3);
}

@media (max-width: 1500px) {
  .main-advantages__container {
    flex-wrap: wrap;
  }

  .main-advantages__item {
    flex: 0 1 50%;
  }

  .main-advantage-item:nth-child(3) {
    order: 4;
  }

  .main-advantage-item:nth-child(4) {
    order: 3;
  }
}
@media (max-width: 700px) {
  .main-advantage-item {
    flex-wrap: wrap;
    justify-content: left;
    padding: 3vw 4vw;
    box-sizing: border-box;
    height: 29vw;
  }

  .main-advantage-item__img {
    width: 10vw;
  }

  .main-advantage-item__text {
    flex: 1 100%;
    font-size: 4vw;
    line-height: 6vw;
  }
}
.popup-reserve {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup-reserve.open {
  opacity: 1;
  visibility: visible;
}
.popup-reserve.open .popup-reserve__content {
  opacity: 1;
  transform: perspective(400px) translate(0px, 0px) rotateX(0deg);
}
.popup-reserve__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup-reserve__content {
  background: #141414;
  color: white;
  max-width: 300px;
  padding: 30px;
  border: 6px solid #F69020;
  box-shadow: 0 0 13px 5px rgba(246, 144, 32, 0.6);
  position: relative;
  transition: 0.8s;
  opacity: 0;
  transform: perspective(400px) translate(0px, -120%) rotateX(45deg);
}
.popup-reserve__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.popup-reserve__close div {
  width: 30px;
  height: 30px;
  position: relative;
}
.popup-reserve__close div:after, .popup-reserve__close div:before {
  position: absolute;
  top: 15px;
  left: 0;
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #F69020;
}
.popup-reserve__close div:after {
  transform: rotate(-45deg);
}
.popup-reserve__close div:before {
  transform: rotate(45deg);
}
.popup-reserve__title {
  font-size: 60px;
  line-height: 45px;
}
.popup-reserve__text {
  margin-top: 25px;
  font-size: 20px;
  line-height: 25px;
}
.popup-reserve__form {
  margin-top: 30px;
}
.popup-reserve__phone {
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}
.popup-reserve__button {
  margin-top: 30px;
  width: 100%;
}

@media (max-width: 700px) {
  .popup-reserve__body {
    padding: 0 5vw;
  }
  .popup-reserve__content {
    max-width: none;
    width: 100%;
    padding: 8vw;
  }
  .popup-reserve__title {
    font-size: 15vw;
    line-height: 12vw;
  }
  .popup-reserve__text {
    margin-top: 7vw;
    font-size: 5vw;
    line-height: 7vw;
  }
  .popup-reserve__form {
    margin-top: 8vw;
  }
  .popup-reserve__phone {
    height: 13vw;
    font-size: 5vw;
    padding-left: 4vw;
    border-radius: 2vw;
  }
  .popup-reserve__button {
    height: 16vw;
    font-size: 3.5vw;
    margin-top: 6vw;
  }
}
.halls {
  background: #131517;
  min-height: 100vh;
}

.halls__background {
  position: relative;
}
.halls__background img {
  position: absolute;
  right: 0;
}
@media (max-width: 1850px) {
  .halls__background {
    right: -120px;
  }
}
@media (max-width: 1600px) {
  .halls__background {
    right: -240px;
  }
}
@media (max-width: 1250px) {
  .halls__background {
    right: -225px;
  }
}
@media (max-width: 991.98px) {
  .halls__background {
    right: -265px;
  }
}
@media (max-width: 767.98px) {
  .halls__background {
    right: -265px;
  }
}
@media (max-width: 700px) {
  .halls__background {
    right: -33vw;
  }
}

.halls__container {
  position: relative;
  z-index: 1;
  padding: 0;
  padding-left: 50px;
  padding-top: 110px;
  max-width: 1920px;
}
.halls__header, .halls__text, .halls__list, .halls__move, .halls__button {
  position: relative;
  z-index: 1;
}
.halls__header {
  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 82px;
  /* or 109% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 70px;
  color: #FFFFFF;
  white-space: nowrap;
}
.halls__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  /* or 200% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 432px;
}
.halls__list {
  color: white;
}
.halls__slider {
  position: absolute;
  top: 0;
  padding-left: 460px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.halls__main-slider {
  height: 830px;
}
.halls__characteristics {
  color: white;
  margin-top: 35px;
}
.halls__characteristics .halls-characteristics__item {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 325px;
  height: 40px;
  margin-top: 11px;
}
.halls__characteristics .halls-characteristics__item img {
  margin: 0 12px;
}
.halls__characteristics .halls-characteristics__item_first {
  background: linear-gradient(91.17deg, rgba(246, 144, 32, 0.24) -0.24%, rgba(246, 144, 32, 0) 35%);
}
.halls__characteristics .halls-characteristics__item_second {
  background: linear-gradient(91.17deg, rgba(246, 144, 32, 0.24) -0.24%, rgba(246, 144, 32, 0) 45%);
}
.halls__characteristics .halls-characteristics__item_third {
  background: linear-gradient(91.17deg, rgba(246, 144, 32, 0.24) -0.24%, rgba(246, 144, 32, 0) 85%);
}
.halls__move {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 80px;
}
.halls__move .halls-move__last, .halls__move .halls-move__next {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.halls__move .halls-move__last {
  border: 1px solid #282B32;
  box-sizing: border-box;
}
.halls__move .halls-move__number span {
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  /* or 200% */
  letter-spacing: 0.03em;
  margin: 0 30px;
  color: #606571;
}
.halls__move .halls-move__number span b {
  font-size: 24px;
  color: white;
}
.halls__move .halls-move__next {
  background: #2E3441;
}
.halls__button {
  margin-top: 60px;
  width: 277px;
  height: 70px;
}

.halls-list__wrapper {
  display: flex;
}
.halls-list__text {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #606571;
  margin-right: 40px;
  margin-top: 100px;
}
.halls-list__text.active {
  color: #FFC619;
}

.main-slider {
  overflow: hidden;
}
.main-slider__container {
  height: inherit;
}
.main-slider__wrapper {
  white-space: nowrap;
  min-width: 0;
  height: inherit;
  font-size: 0;
}
.main-slider__slide {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.main-slider__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-slider__image img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.min-slider {
  width: 100%;
  height: 172px;
  overflow: hidden;
}
.min-slider__container {
  height: inherit;
}
.min-slider__wrapper {
  height: inherit;
  min-width: 0;
  display: flex;
}
.min-slider__slide {
  flex: 0 0 20%;
  height: inherit;
  width: 100px;
  position: relative;
}
.min-slider__slide:after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.min-slider__slide:hover {
  cursor: pointer;
}
.min-slider__slide:hover:after {
  background: rgba(255, 198, 25, 0.4);
  content: url("../img/halls/eye.png");
}
.min-slider__image {
  height: inherit;
  position: relative;
}
.min-slider__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  ._container {
    padding: 0 3vw;
  }
}

/*# sourceMappingURL=style.css.map */
