@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Muller;
  background: black;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1824px;
  margin: 0px auto;
  padding: 0 50px;
  box-sizing: content-box;
  /* Сам прибавляет padding */
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ---------------------------------- */
@font-face {
  font-family: "Muller";
  src: url("/template/fonts/MullerRegular.eot");
  src: url("/template/fonts/MullerRegular.eot") format("embedded-opentype"), url("/template/fonts/MullerRegular.woff2") format("woff2"), url("/template/fonts/MullerRegular.woff") format("woff"), url("/template/fonts/MullerRegular.ttf") format("truetype"), url("/template/fonts/MullerRegular.svg#MullerRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("/template/fonts/MullerBold.eot");
  src: url("/template/fonts/MullerBold.eot") format("embedded-opentype"), url("/template/fonts/MullerBold.woff2") format("woff2"), url("/template/fonts/MullerBold.woff") format("woff"), url("/template/fonts/MullerBold.ttf") format("truetype"), url("/template/fonts/MullerBold.svg#MullerBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
.header {
  position: absolute;
  top: 40px;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__info {
  display: flex;
}

.header__phone, .header__city {
  display: flex;
  align-items: center;
  margin-left: 85px;
}

.header__city_phone {
  display: none;
  position: absolute;
  top: 4.8vw;
  left: 63vw;
}

.header__phone {
  margin-left: 180px;
}

.header__circle {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__circle img {
  height: 29px;
}

.header__number, .header__cityName {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: black;
  margin-left: 17px;
}

.header__number {
  color: #FFFFFF;
}

.header__cityName {
  color: #F69020;
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__button {
  width: 204px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__button {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.menu__button_1 {
  background: transparent;
  border: 1px solid #393C43;
  margin-right: 24px;
  color: white;
}

.menu__button_2 {
  background: #FFFFFF;
  border: 1px solid black;
}

.header__burger {
  display: none;
  position: fixed;
  width: 9vw;
  height: 4vw;
  top: 10vw;
  right: 7vw;
  z-index: 10;
}

.header__burger::before,
.header__burger::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: #F69020;
  border-radius: 6px;
  transition: all 0.5s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger_close {
  z-index: 10;
}

.header__burger_close::before {
  top: 15px;
  transform: rotate(45deg);
}

.header__burger_close::after {
  top: 15px;
  transform: rotate(-45deg);
}

/* Adaptive */
@media (max-width: 1550px) {
  .header__phone {
    margin-left: 0px;
  }

  .header__city {
    margin-left: 30px;
  }

  .menu__button_1 {
    margin-right: 10px;
  }
}
@media (max-width: 1300px) {
  .header__container {
    justify-content: normal;
  }
  .header__container .header__info {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
  .header__container .header__menu {
    flex: 0 0 350px;
  }
  .header__container .menu__list {
    justify-content: flex-end;
  }

  .header__logo img {
    width: 200px;
  }

  .header__circle {
    height: 40px;
    width: 40px;
  }

  .menu__button {
    height: 50px;
    width: 155px;
    font-size: 10px;
  }

  .header__number, .header__cityName {
    font-size: 12px;
  }
}
@media (max-width: 1020px) {
  .header__menu {
    display: flex;
    flex: 0 0 170px !important;
    justify-content: flex-end;
  }
  .header__menu .menu__list {
    flex-direction: column;
  }

  .header__info {
    align-items: start;
  }

  .menu__button {
    margin: 0;
  }

  .menu__button_1 {
    margin-bottom: 10px;
  }
}
@media (max-width: 850px) {
  .header__info {
    justify-content: start !important;
    align-items: flex-end;
    flex-direction: column !important;
  }
  .header__info .header__phone {
    margin-bottom: 10px;
  }
  .header__info .header__phone, .header__info .header__city {
    width: 185px;
  }
}
@media (max-width: 700px) {
  .header__burger {
    display: block;
  }

  .header {
    box-shadow: 0px 12px 27px #000000;
    top: 0;
    padding: 7vw 0;
    height: 11vw;
    overflow: hidden;
    transition: all 0.5s;
  }

  .header_phone {
    background: #282B32;
    height: 100%;
  }

  .header__container {
    flex-direction: column;
  }
  .header__container .header__logo {
    margin-bottom: 8vw;
  }
  .header__container .header__logo img {
    width: 45vw;
  }
  .header__container .header__info {
    align-items: start;
    flex-direction: column-reverse !important;
    margin-bottom: 5vw;
  }
  .header__container .header__info .header__city {
    margin-left: 0;
  }
  .header__container .header__info .header__phone, .header__container .header__info .header__city {
    width: auto;
  }
  .header__container .header__menu {
    flex: auto !important;
    justify-content: start;
  }
  .header__circle {
    height: 15vw;
    width: 15vw;
  }
  .header__circle img {
    height: 7vw;
  }

  .header__city {
    margin-bottom: 3vw;
  }

  .header__city_phone {
    display: block;
    transition: all 0.5s;
  }

  .header__city_phoneDisable {
    display: none;
  }

  .header__number, .header__cityName {
    font-size: 4vw;
  }

  .menu__button {
    border-radius: 20vw;
    height: 15vw;
    width: 55vw;
    font-size: 4vw;
  }

  .menu__button_1 {
    margin-bottom: 5vw;
  }
}
@media (max-width: 700px) {
  ._container {
    padding: 0 3vw;
  }
}

/*# sourceMappingURL=style.css.map */
