.telegram {
  min-height: 1000px;
}

.telegram__background {
  position: relative;
  z-index: -1;

  img {
    position: absolute;
    right: -1px;
  }

  @media (max-width: 1850px) {
    & {
      right: -120px;
    }
  }

  @media (max-width: 1600px) {
    & {
      right: -240px;
    }
  }

  @media (max-width: 1250px) {
    & {
      right: -225px;
    }
  }

  @media (max-width: 991.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 767.98px) {
    & {
      right: -265px;
    }
  }

  @media (max-width: 700px) {
    & {
      right: -33vw;
    }
  }
}

.telegram {
  &__header {
    font-weight: 900;
    font-size: 75px;
    line-height: 82px;

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    padding-top: 110px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 45px;
  }
}

.telegram-slider {
  margin-top: 55px;

  &__background {
    position: relative;

    img {
      position: absolute;
      left: -17px;
      top: -16px;
    }
  }

  &__container {
    width: 252px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
  }

  &__slide {

  }
}

.telegram-slide {
  position: relative;
  width: 252px;

  &__number {
    opacity: 0;
    transition: all 0.1s;

    position: absolute;
    top: -32px;
    right: -32px;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F69020;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
    z-index: 1;

    font-weight: 700;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;

    padding-top: 7px;
    box-sizing: border-box;
  }

  .swiper-slide-active &__number {
    opacity: 1;
  }

  &__img {
    position: relative;
    height: 475px;
    border-radius: 25px;
    overflow: hidden;

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 140px;
      height: 34px;
      background: black;
      border-radius: 17px;

      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 35px;
  }
  &__icon {

  }

  &__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    letter-spacing: 0.03em;

    color: #FFFFFF;
    width: 200px;



    span {
      color: #F69020;
    }
  }
}